<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Tasker
  </title>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
  <header class="header">
    <div class="taskertitle"> Tasker </div>
    <div class="taskersub"> The Social To-Do List </div>
  </header>

  <% if user_signed_in? %>
    <div class="navbox">
      <div class="button"> <%= link_to 'Home', root_path %></div>
      <div class="button"><%= link_to 'My Profile', current_user %></div>
      <div class="button"><%= link_to 'All Users:', users_path %> <%= User.count %> registered </div>
      <div class="rightbutton"><%= link_to 'Log Out', destroy_user_session_path, :method=>'delete' %></div>
      <div class="rightbutton"><%= link_to 'Welcome,', edit_user_registration_path %> <%= current_user.name %> </div>
      
    </div>
  <% end %> 

  <div class="main">
    <% if user_signed_in? %>
    <div class="feedwrapper">
      <div class="taskbox">
        <% if user_signed_in? %>
          <div class="pagetitle"> My To-Do List </div>
          <hr>
              <% if current_user.tasks.empty? %>
                  <p>No Tasks!</p>
              <% else %>
                <% current_user.tasks.each do |task| %>
                <% if not task.finished %>
                <div class="tasklist">
                    <%= simple_form_for task do |f| %>
                      <div class="strike">
                  <%= f.submit '✓', :class => 'check'%> 
                  <%= task.todo %></div>
              </div>
              <% end %>
            <% end %>
            <% end %>
              <% end %>
          <div class="clicky"> <%= link_to 'Create Task', tasks_new_path%></div>
         <% else %> 
          <div class = "signinmsg">Log in to display your tasks!</div>
      <% end %>
      </div>
      <div class="newsfeed">
            <h4> Users that matched your search </h4>
            <hr>
              <div class="column">
                <table class="table1" cellpadding="10">
                  <tbody>
                    <% if user_signed_in? %>
                      <% @users.each do |user| %>
                      <tr>
                        <td><%= link_to user.name, user %></td>
                        <td><%= link_to user.email, user %></td>
                        <td> 
                          <% if @user != current_user && @not_following %>
                            <%=button_to "Follow", friend_path(:id => @user.id), :class => 'smallbutton', :method => :post %>
                          <% else %>
                              
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    <% else %>
                      <p> You must be logged in to view users </p>
                    <% end %> 
                  </tbody>
                </table>
              </div>


            
            <%= form_tag(users_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: 'field' %>
                <br>
                <%= submit_tag "Search", :name => nil, :class => 'clicky' %>
              <% end %>

            <% if @users.blank? %>
                <h4>There are no users called <%= params[:search] %>.</h4>
            <% end %>
      </div>
    </div>
    <% else %>
      <div class="signinbubble">
        <div class="bigbutton"><%= link_to 'Log In', user_session_path %></div>
          <div class="bigbutton"><%= link_to 'Sign Up', new_user_registration_path %></div>
          
      </div>
    <% end %>

  </div>
  <footer class="footer">
    Copyrighted by us in 2015
  </footer>
</div>
</body>
</html>
